@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    background: #f3f3f5;
}


.body-fixed {
    position: relative;
    width: 100%;
    height: 100vh;
    top: auto;
    left: auto;
}

body, html {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

#product-list{
    margin-top: 120px;
    position: relative;
}

.site-header {
    position: fixed;
    padding: 30px 0;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
}

.site-header.sticky_head {
    background: rgb(255 255 255 / 80%);
    padding: 20px 0;
    border-color: #f2f2f2;
    backdrop-filter: blur(20px);
}

#cart-btn {
    position: fixed;
    top: 20px;
    right: 20px;
}

#cart-sidebar {
    width: 300px;
    background-color: #f8f9fa;
    position: fixed;
    right: -300px;
    top: 90px; /* Cambia de top: 0 a top: 80px */
    height: calc(100% - 80px); /* Ajusta la altura para tener en cuenta el espacio superior */
    padding: 20px;
    transition: 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.card{
    width: 18rem; /* Ajusta el ancho de la tarjeta */
    height: 25rem; /* Ajusta la altura de la tarjeta */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre las tarjetas */
}

.card-img-top {
    padding: 20px;
    width: 100%;
    height: 15rem; /* Ajusta la altura de la imagen */
    object-fit: contain;
}

.card-title{
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.card-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.card-body button{
    font-size: 14px;
    font-weight: 400;
}

.card-body button:hover{
    background-color: #0a2ff1;
    color: #ffffff;
}

.modal-title{
    font-family: Poppins;
    font-weight: 700;
}

.modal-body h5{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}

.row {
    margin: 0 -15px; /* Ajusta el margen negativo si es necesario */
}

.col-md-4 {
    padding: 0 15px; /* Ajusta el relleno para el espacio entre columnas */
}

.card-body {
    flex-grow: 1;
}

#cart-sidebar.active {
    right: 0;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#cart-sidebar #close-cart {
    position: absolute;
    top: 20px;
    right: 20px;
}


.btn-outline-dark:hover{
    background-color: #0a2ff1;
}

.swal2-title{
    font-family: Poppins;
}

button.swal2-confirm{
    background-color:#0a2ff1
}

.main-navigation {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.main-navigation .menu li {
    display: inline-block;
    position: relative;
    margin: 0 6px;
}


.main-navigation .menu li:hover>ul, .main-navigation .menu li.focus>ul {
    opacity: 1;
    margin-top: 6px;
    visibility: visible;
}

a {
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation .menu ul a {
    width: 200px;
}

.main-navigation .menu li:hover>ul, .main-navigation .menu li.focus>ul {
    left: auto;
}

.main-navigation .menu li a {
    display: flex;
    transition: 0.3s;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #0d0d25;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 18px;
    border-radius: 30px;
}

.main-navigation .menu li a:hover, .main-navigation .menu li .active-menu, .main-navigation .menu .sub-menu li .active-sub-menu {
    color: #0a2ff1;
    background: #f3f3f5;
    /* box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff; */
}

.header-right {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
    transition: 0.3s;
    /* box-shadow: inset 9px px 7px #dadada, inset -6px -6px 7px #ffffff; */
    align-items: center;
}


.header-btn:hover {
    background: linear-gradient(145deg, #dcdcdc, #ffffff);
    box-shadow: 20px 20px 60px #cfcfd0, -20px -20px 60px #ffffff;
}

.header-search-form {
    position: relative;
}

.header-search-form button {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 100%;
    opacity: 0.5;
}

.header-search-form .form-input {
    font-size: 14px;
    padding-right: 40px;
    width: 200px;
    height: 40px;
}

.form-input::placeholder {
    color: rgba(70 69 71 / 0.7);
}

.form-input {
    width: 100%;
    height: 50px;
    outline: none !important;
    padding: 10px 15px;
    color: #0d0d25;
    border-radius: 10px;
    border: none;
    background: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}


.uil {
    color: #0a2ff1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.uil uil-user-circle{
    width: 50px;
    height: 50px;
}


@media (min-width: 1500px) {
    .container {
        max-width: 1368px;
    }
}

@media (min-width: 2100px) {
    .container {
        max-width: 1400px;
    }
    p, body, button, input {
        font-size: 18px;
        line-height: 32px;
    }
}

@media (max-width: 1399px) {
    .header-right {
        margin-left: 20px;
    }
    .main-navigation .menu li {
        margin: 0 3px;
    }
}

@media (max-width: 1199px) {
    @media (min-width: 1200px) {
        .container {
            max-width: 1200px;
        }
    
        .card {
            width: 18rem;
        }
    }
}

@media (max-width: 991px) {
    .main-navigation .menu {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .header-right {
        margin-left: 10px;
    }

    .card {
        width: 100%; /* Tarjetas en una columna */
    }

    .header-search-form .form-input {
        width: 170px; /* Disminuye el tamaño del input de búsqueda */
    }
}

@media (max-width: 575px) {
    .container, .container-fluid {
        padding: 0 30px;
    }
    .card {
        width: 100%; /* Las tarjetas ocuparán todo el ancho de la pantalla */
        height: auto; /* Ajusta la altura de las tarjetas */
    }
    .main-navigation {
        display: none; /* Oculta la navegación principal */
    }
    .card-img-top {
        height: auto;
    }
    .card-title, .card-text {
        font-size: 18px;
    }
    .form-input {
        width: 100%;
        padding: 12px;
    }
    .header-btn {
        margin-right: 30px; /* Ajusta el botón del carrito o usuario */
    }
    button {
        margin-top: 5px;
    }
}


